pipeline/PF_NA_Products_load_New.json
{
	"name": "PF_NA_Products_load_New",
	"properties": {
		"activities": [
			{
				"name": "pf_na_source_file_name",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "PF_AMER_source_file_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "PF_NA_Daily_Delta_FileList_Preprocess",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "pf_na_source_file_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@concat('/Repos/AnalyticsEngine/AmerBCS-AnalyticsEngine/src/com/avnet/bda/bkbl/ELT/',pipeline().parameters.DeltaFileNoteBook)",
						"type": "Expression"
					},
					"baseParameters": {
						"FILE_NAME": {
							"value": "@string(activity('pf_na_source_file_name').output.childItems)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksWUS2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PF_NA_Daily_Delta_FileList_Preprocess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "part-*",
							"enablePartitionDiscovery": true,
							"partitionRootPath": {
								"value": "@concat(pipeline().parameters.Container,'/staging/bill24/PF_NA/Meta/',pipeline().parameters.DeltaFileListFolder,'.csv')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "PF_NA_Delta_file_list",
						"type": "DatasetReference",
						"parameters": {
							"delta_file_location": {
								"value": "@pipeline().parameters.DeltaFileListFolder",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Products",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Delete1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings"
										}
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "PF_AMER_CSV_file_with_parameter",
									"type": "DatasetReference",
									"parameters": {
										"File_name": {
											"value": "@{item().Prop_0}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DL_CSV_file_with_parameter",
									"type": "DatasetReference",
									"parameters": {
										"DL_File_container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"DL_File_path": {
											"value": "@concat('staging/bill24/PF_NA/Master/',pipeline().parameters.DataType,'/Delta')",
											"type": "Expression"
										},
										"DL_File_name": {
											"value": "@concat(string(item().Prop_0),'csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Inventory_PF_NA_Product_Bronze_Delta",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Copy Products",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@concat('/Repos/AnalyticsEngine/AmerBCS-AnalyticsEngine/src/com/avnet/bda/bkbl/ELT/',pipeline().parameters.BronzeNotebook)",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricksWUS2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Inventory_PF_NA_Product_Silver_Delta",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Inventory_PF_NA_Product_Bronze_Delta",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@concat('/Repos/AnalyticsEngine/AmerBCS-AnalyticsEngine/src/com/avnet/bda/bkbl/ELT/',pipeline().parameters.SilverNotebook)",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricksWUS2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Move Products to Archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Inventory_PF_NA_Product_Silver_Delta",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DL_binary_file_with_parameter",
									"type": "DatasetReference",
									"parameters": {
										"DL_File_container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"DL_File_path": {
											"value": "@concat('staging/bill24/PF_NA/Master/',pipeline().parameters.DataType,'/Delta')",
											"type": "Expression"
										},
										"DL_File_name": {
											"value": "@concat(string(item().Prop_0),'csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DL_binary_file_with_parameter",
									"type": "DatasetReference",
									"parameters": {
										"DL_File_container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"DL_File_path": {
											"value": "@concat('staging/bill24/PF_NA/Master/',pipeline().parameters.DataType,'/Archive')",
											"type": "Expression"
										},
										"DL_File_name": {
											"value": "@concat(string(item().Prop_0),'csv','^',formatDateTime(utcnow(),'yyyy-MM-dd HH:mm'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "PF_AMER_Target_file_folder",
									"type": "DatasetReference",
									"parameters": {
										"DL_File_container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"DL_File_path": {
											"value": "@concat('staging/bill24/PF_NA/Master/',pipeline().parameters.DataType,'/Delta')",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DataType": {
				"type": "string",
				"defaultValue": "Product"
			},
			"BronzeNotebook": {
				"type": "string",
				"defaultValue": "Bill024_PF_NA_Product_Bronze_Delta_New"
			},
			"SilverNotebook": {
				"type": "string",
				"defaultValue": "Bill024_PF_NA_Product_Silver_Delta_New"
			},
			"Container": {
				"type": "string",
				"defaultValue": "bkbl"
			},
			"DeltaFileListFolder": {
				"type": "string",
				"defaultValue": "Products"
			},
			"DeltaFileNoteBook": {
				"type": "string",
				"defaultValue": "PF_NA_Product_Daily_Delta_File_Preprocess"
			}
		},
		"folder": {
			"name": "BKBL/PF_NA"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-29T00:23:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}